@media (max-width: 600px) {




body {
   overflow-x: hidden;
}

/* Exibir menu hamburguer */

   #menu-hamburguer {
      display: block;
      
   }


   

   #lista-menu-desktop {
      display: none;
   }

   #lista-menu-hamburguer {
      list-style: none;
      background-color: pink;
      width: 100%;
      height: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
      transition: height 0.5s ease;
      position: absolute;
      z-index: 999999;
      display: block;
   }

   #lista-menu-hamburguer li {
      height: calc(40vh / 5);
      display: flex;
      align-items: center;
      justify-content: center;

   }

   #lista-menu-hamburguer.ativo {
      height: 40vh;

   }



   #lista-menu-hamburguer li a {
      text-decoration: none;
      font-family: orbitron, sans-serif;
   }

   .menu-y2k::before {
      display: none;
   }


   

}

