@font-face {
  font-family: "motorola";
  src: url("fonts/MotorolaScreentype.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "minecraft";
  src: url("fonts/Minecraftia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pixelada";
  src: url("fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* TÍTULOS */
h1 {
  color: #12043c;
  font-size: clamp(28px, 3.3vw, 64px);
  font-family: orbitron, sans-serif;
}

h2 {
  color: #12043c;
  font-size: clamp(24px, 2.8vw, 48px);
  font-family: orbitron, sans-serif;
}

p {
  font-family: inter, sans-serif;
   font-size: 24px;
}

/* ----------------------- BOTÃO WHATSAPP FIXO ------------------------- */
.whatsapp-btn {
  position: fixed;

  bottom: 20px; /* distância do fundo */
  left: 20px; /* distância da esquerda */

  width: clamp(60px, 2.8vw + 35px, 150px);
  height: clamp(60px, 2.8vw + 35px, 150px);

  background-color: #fff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  z-index: 999; /* fica acima de tudo */
}

.whatsapp-btn img {
  width: clamp(30px, 1.8vw + 20px, 75px);
  height: clamp(30px, 1.8vw + 20px, 75px);
}

/* 🔥 EFEITO PULSANTE */
.whatsapp-btn::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  background: #d1007f;

  z-index: -1;

  animation: pulse 1.8s infinite;
}

/* 🎬 Animação */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }

  70% {
    transform: scale(1.6);
    opacity: 0;
  }

  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

/* ----------------------- BOTÃO VOLTAR AO TOPO ------------------------- */

#btn-topo {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;

  background: linear-gradient(to bottom, #dcdcdc, #bcbcbc);

  border: 2px solid;
  border-color: #fff #404040 #404040 #fff;

  box-shadow:
    inset -2px -2px 0 #000,
    inset 2px 2px 0 #fff,
    0 4px 8px rgba(0, 0, 0, 0.3);

  cursor: pointer;

  opacity: 0;
  pointer-events: none;

  transition: all 0.3s ease;
  z-index: 999999999999;
}

.seta {
  width: 16px;
  height: 16px;
  position: relative;
}

/* cria os pixels */
.seta::before {
  content: "";
  position: absolute;
  inset: 0;

  background:
    linear-gradient(black, black) 6px 2px / 4px 4px no-repeat,
    linear-gradient(black, black) 4px 6px / 8px 4px no-repeat,
    linear-gradient(black, black) 2px 10px / 12px 4px no-repeat;
}
/* botão aparece */
#btn-topo.show {
  opacity: 1;
  pointer-events: auto;
}

/* hover */
#btn-topo:hover {
  transform: translateY(-2px);
}

/* clique */
#btn-topo:active {
  border-color: #404040 #fff #fff #404040;

  box-shadow:
    inset 2px 2px 0 #000,
    inset -2px -2px 0 #fff;

  transform: translateY(2px);
}

header {
  z-index: 999;
  width: 100%;
  /* background-color: #D3B4AA; */

  background:
    radial-gradient(
      circle at 70% 20%,
      rgba(255, 255, 255, 0.5),
      transparent 40%
    ),
    radial-gradient(circle at 30% 80%, rgba(0, 0, 0, 0.2), transparent 50%),
    linear-gradient(180deg, #e6c6be, #d3b4aa 40%, #c4a49a 70%, #b8958c);

  box-shadow:
    inset 0 2px 6px rgba(255, 255, 255, 0.4),
    inset 0 -6px 12px rgba(0, 0, 0, 0.25);

  border-bottom: ridge 2px grey;
  display: flex;
  justify-content: center; /* mantém o nav central */
  align-items: center;
  position: relative;
  padding: 0 20px; /* espaço nas laterais */
  box-sizing: border-box;
  font-family: orbitron, sans-serif;
}

/* 🔥 REDES SOCIAIS (direita) */
#redes-sociais-header {
  position: absolute;
  right: 50px; /* pequeno espaço da borda */
  display: flex;
  gap: 12px;
}

/* mostra os links */
#redes-sociais-header a {
  display: flex;
}

/* controla tamanho das imagens */
#redes-sociais-header a img {
  display: block;
  width: 28px;
  height: 28px;
  object-fit: contain;
}

/* 🔥 MENU */
nav {
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  backdrop-filter: blur(10px);

  height: 80px; /* controla altura melhor que vh */
}

/* menu hamburguer (mantido oculto) */
#menu-hamburguer {
  display: none;
}

#lista-menu-hamburguer {
  display: none;
}

/* lista */
nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0;
}

nav a {
  font-weight: bold;
  color: #12043c;
  text-decoration: none;

  font-size: clamp(24px, calc(1.44vw + 4.3px), 32px);

  transition: 0.3s;
}

nav a:hover {
  color: #d1007f;
}

/* SEÇÕES */
main {
}

section {
  min-height: 100dvh;
  box-sizing: border-box !important;
  display: flex;
  flex-direction: column;
  padding: 48px 144px;
  background-color: #ffc0e7;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
  flex: 1;
  width: 100%;
  max-width: 1400px;
}

.conteudo {
}

/* PRIMEIRA SEÇÃO (efeito parallax) */
#home {
  background:
    linear-gradient(90deg, rgba(70, 69, 68, 0.7), rgba(150, 7, 150, 0.7)),
    url("./imgs/home/home-img01.webp") no-repeat center;
  background-attachment: fixed;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: -2;
 
}

#apresentacao {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: clamp(7px, calc(2.0625vw + 0.4px), 40px);
}

/* Animação texto do titulo do salão*/
#titulo-home {
  opacity: 0;
  animation: fadein-titulo 2s ease-in forwards;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  width: 50%;
}

@keyframes fadein-titulo {
  to {
    opacity: 1;
  }
}

#subtitulo-home {
  opacity: 0;
  font-size: 30px;
}

/* BOTÃO ESTILO WINDOWS95 */

.btn-win95 {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 40px;

  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-decoration: none;

  background: linear-gradient(to bottom, #dcdcdc, #bcbcbc);

  border: 2px solid;
  border-color: #fff #404040 #404040 #fff;

  box-shadow:
    inset -2px -2px 0 #000,
    inset 2px 2px 0 #fff,
    0 4px 8px rgba(0, 0, 0, 0.25);

  cursor: pointer;
  transition: all 0.1s ease;
}

/* 🔥 HOVER */
.btn-win95:hover {
  background: linear-gradient(to bottom, #e8e8e8, #cfcfcf);
  transform: translateY(-1px);
}

/* 🔥 CLICK (PRESSIONADO REAL) */
.btn-win95:active {
  border-color: #404040 #fff #fff #404040;

  box-shadow:
    inset 2px 2px 0 #000,
    inset -2px -2px 0 #fff;

  transform: translateY(2px);
}

/* 🔥 FOCO (acessibilidade) */
.btn-win95:focus {
  outline: 2px dotted #000;
  outline-offset: 3px;
}

/* --------------------------------- SECTION SERVIÇOS ----------------------------------- */
#servicos {
  box-shadow: 0 -30px 40px -5px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

#servicos h1 {
}

#servicos-container {
  flex: 1;
  display: flex;
}

#servicos-container-conteudo {
  flex: 1;

  display: flex;
  padding: 0;
}

/*janelas dos serviços*/

#janelas-serviços {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  list-style: none;

  box-sizing: border-box;
  gap: 20px;
  padding: 0 100px;
}

#janelas-serviços > * {
}

#janelas-serviços li {
  position: relative;
  box-sizing: border-box;
  border: outset 1px;
  background-color: rgb(196, 187, 191);
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 20px 10px #0007;
  height: clamp(200px, 35vh, 400px);
  overflow: hidden;
}

#janelas-serviços li:hover {
  transform: scale(1.05);
}

#janelas-serviços li > img {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  margin-top: -2px;
  z-index: 1;
  object-fit: cover;
}

.title-bar {
  position: absolute;
  height: 30px;
  width: 100%;
  background-color: rgb(255, 0, 255);
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  z-index: 2;
  align-self: start;
  align-items: center;
}

.title-bar p {
  justify-self: start;
  font-family: "orbitron", sans-serif;
  font-weight: bold;
  margin-left: 10px;
  white-space: nowrap;
  text-align: start;
  font-size: clamp(16px, 2vw, 24px);
}

.title-bar img {
  justify-content: end;
  height: 20px;
  width: auto;
  user-select: none;
  pointer-events: none;
}


/* ---------------------------------------- JANELAS MODAL ----------------------------------------*/

#overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.97);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 99999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  /* width: 300px;
  height: 200px; */
  background: #ffb9dc;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  z-index: 99999999999;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1400px;
}

.title-bar-modal {
  background: #ff69b4;
  display: grid;
  grid-template-columns: 1fr auto;

  height: 50px;
  font-size: 32px;
}

.title-bar-modal span {
  font-family: "orbitron", sans-serif;
  font-weight: bold;
  color: #12043c;
  margin-left: 20px;
}

.buttons {
  display: flex;
  height: 100%;
}

.buttons img {
  object-fit: contain;
  height: 50px;
  cursor: pointer;
}

.modal.expandir {
  width: 80%;
  height: 100vh;
  transform: translate(-50%, -50%);
  pointer-events: all;
  opacity: 1;
  overflow: hidden;
}

/* ---------------------------------------- CONTEÚDO ----------------------------------------*/

#conteudo-modal {
  position: relative;
  width: 100%;
  display: flex;
  margin: 0 auto;
  height: 100%;
}
/* ---------------------------------------- GRID ----------------------------------------*/

.imagens-modal {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.imagens-modal > * {
  flex: 1;
  display: flex;
}

#img-01-modal-container {
  padding: 0 20px;
}

#img-01-modal-container img {
}

#img-02-modal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#img-02-modal-container img {
}

/* imagem principal */
#img01 {
  grid-area: a;
  width: clamp(600px, 600px + 0.1805 * (100vw - 1366px), 700px);
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  top: 0;
}

/* ////////////////////////////////////// CELULAR FLIPPER LAYER ////////////////////////////////////// */

#img02 {
  /* tamanho consistente */
  width: clamp(380px, 380px + 0.397 * (100vw - 1366px), 600px);
  height: auto;
  aspect-ratio: 9 / 16;
  object-fit: contain;
  justify-self: end;
  user-select: none;
  z-index: 999999;
  pointer-events: none;
}

/* ---------------------------------------- TELA DO CELULAR ---------------------------------------- */

/* camada pixel */
#pixelated-layer {
  width: clamp(160px, 20vw, 340px);
  aspect-ratio: 9 / 16;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-8%, -38%);

  opacity: 0.25;
  pointer-events: none;
}

/* ---------------------------------------- TÍTULO ---------------------------------------- */

#titulo-servico {
  grid-area: c;
  font-size: clamp(24px, 3vw, 40px);
  text-align: center;
  position: relative;
  top: -15vh;
}
/* ///////////////////////////////////////  Tela do celular com serviços ///////////////////////////////////////////////////// */

#phone-screen {
  /* tamanho para resolução 1366px */
  /* height: 300px;
  width: 220px; */

  /* tamanho para resolução 1920px */
  /* width: 300px; */
  /* height: 410px; */

  height: clamp(300px, 22vw, 410px);
  aspect-ratio: 220 / 300;

  background-color: #ead4c4;
  position: absolute;

  /* centraliza na tela do celular para resolução 1366px */
  /* top: 120px;
  right: 116px; */

  /* centraliza na tela do celular para resolução 1920px */
  /* top: 160px; */
  /* right: 176px; */

    top: calc(120px + (160 - 120) * ((100vw - 1366px) / 554));
  right: calc(116px + (176 - 116) * ((100vw - 1366px) / 554));

  border-radius: 5%;
  color: black;
  font-size: 20px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 30px;
  z-index: 8;
}

/* camada pixelada por cima da tela do celular */
#pixelated-layer {
  height: 71vh;
  width: 24.5vw;
  background-color: #ead4c4;
  position: absolute;
  top: 16vh;
  left: 98vh;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  opacity: 0.223;
  pointer-events: none;
  display: none;
}

#phone-screen * {
  font-family: orbitron, sans-serif;
  /* font-size: 16px; */
  font-size: 16px;
}

.barra-titulo {
  width: 100%;
  height: 10vh;
  border-radius: 5%;
  background: linear-gradient(
    to right,
    #000033,
    #0044aa,
    #0066cc,
    #0044aa,
    #000033
  );
  color: #00f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra-titulo p {
  display: none;
}

#phone-screen .servicos-container {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#phone-screen .servicos-container > * {
  /*largura para tela 1366 */
  /* width: 220px; */
  /* padding: 10px 20px; */
  
  /* largura para tela 1920 */
  /* width: 300px;
  padding: 5px 10px; */

  width: calc(220px + 80 * ((100vw - 1366px) / 554));
  padding: 
    calc(10px - 5 * ((100vw - 1366px) / 554)) 
    calc(20px - 10 * ((100vw - 1366px) / 554));
  column-gap: 5px;
}

.div-cor01 {
  background-color: #d9dddc;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.div-cor02 {
  display: flex;
  background-color: #88807b;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
}

.div-cor01 :nth-child(1),
.div-cor02 :nth-child(1) {
  width: fit-content;
  height: fit-content;
}

.div-cor01 > :nth-child(2),
.div-cor02 > :nth-child(2) {
  text-align: right;
  width: fit-content;
  height: fit-content;
 white-space: nowrap;
}

.servicos-container::-webkit-scrollbar {
  width: 8px;
  z-index: 999999999;
}

.servicos-container::-webkit-scrollbar-track {
  background: white;
}

.servicos-container::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 0;
}

.servicos-container {
  scrollbar-width: thin;
  scrollbar-color: blue white;
}

.corte {
  box-sizing: border-box;
  width: 24vw;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  color: #2546ab;
  font-family: "motorola", monospace;
}

.corte :first-child {
  margin-left: 5%;
}

.corte :nth-child(2) {
  margin-right: 6%;
}

.phone-buttons {
  display: flex;
  flex-direction: row;
  color: #00f0ff;
  width: 100%;
  border-radius: 0 0 5% 5%;
  background: linear-gradient(
    to right,
    #000033,
    #0044aa,
    #0066cc,
    #0044aa,
    #000033
  );
  height: 10vh;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
}

.phone-buttons * {
}

.phone-buttons :first-child {
  z-index: 99999;
}

.phone-buttons :nth-child(2) {
  color: white;
  text-align: center;
  margin-top: -2vh;
}

.phone-buttons :nth-child(3) {
  z-index: 99999;
}

.button {
  cursor: pointer;
  user-select: none;
}

.imagens-modal h2:nth-child(3) {
  font-size: 40px;
  font-family: "Pixelify Sans";
  position: relative;
  top: -30vh;
  text-align: center;
}

/* --------------------- SECTION GALERIA ------------------------ */

#galeria {
  background-color: #cc9ab9;
  box-shadow: 0 -10px 2000px -5px rgba(0, 0, 0, 1);
  overflow-x: hidden;
}

#galeria .conteudo {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

#galeria h1 {
}

.galeria-fotos {
  --d: 10s;
  display: grid;
  margin-left: 10vw;
  width: 25vw;
  align-self: center;
  justify-self: center;
}

.galeria-fotos > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation:
    slide var(--d) infinite,
    z-order var(--d) infinite steps(1);
}

.galeria-fotos img:last-child {
  animation-name: slide, z-order-last;
}

.galeria-fotos > img:nth-child(1) {
  animation-delay: calc(0 * var(--d));
  --r: 0deg;
}

.galeria-fotos > img:nth-child(2) {
  animation-delay: calc(-0.2 * var(--d));
  --r: 5deg;
}

.galeria-fotos > img:nth-child(3) {
  animation-delay: calc(-0.4 * var(--d));
  --r: -1deg;
}

.galeria-fotos > img:nth-child(4) {
  animation-delay: calc(-0.6 * var(--d));
  --r: 6deg;
}

.galeria-fotos > img:nth-child(5) {
  animation-delay: calc(-0.02 * var(--d));
  --r: -18deg;
}

@keyframes slide {
  10% {
    transform: translateX(120%) rotate(var(--r));
  }

  0%,
  100%,
  20% {
    transform: translatex(0%) rotate(var(--r));
  }
}

@keyframes z-order {
  10%,
  20% {
    z-index: 1;
  }

  80% {
    z-index: 2;
  }
}

@keyframes z-order-last {
  10%,
  20% {
    z-index: 1;
  }

  90% {
    z-index: 2;
  }
}

#camera-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: auto;
}

/* ------------------------- SECTION AGENDAMENTO ----------------------------- */

#agendamento {
  box-shadow: 0 -10px 40px -5px rgba(0, 0, 0, 1);
  background-color: #99738b;
}

#agendamento h1 {
}

#agendamento-container {
  max-width: 1400px;
}

#agendamento-container > * {
}

#agendamento-container h1 {
  font-size: 32px;
}

#agendamento-conteudo {
  flex: 1;
  display: flex;
  column-gap: 30px;
  box-sizing: border-box;
  border: solid 5px rgb(255, 255, 255);
  border-radius: 60px;
  padding: 0 50px;
  overflow: hidden;
  background-color: rgb(212, 83, 169);
}

#agendamento-conteudo > * {
  /* max-width: 100%; */
  box-sizing: border-box;
}

/* Botão para agendar*/

#moldura {
  display: flex;
  justify-content: center;
  align-items: center;
}

#moldura img {
  
  width: clamp(340px, calc(46.94vw - 301px), 600px);

  object-fit: contain;
}

/* SLIDES DE FOTOS*/
.img-agendamento {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.img-agendamento > img {
  width: 100%;
  height: 95%;
  object-fit: contain;
  position: absolute;
  inset: 0;
}

.img-agendamento img.ativo {
  display: block;
}

.botao-agendamento {
  width: 300px;
  height: 60px;

  color: #000;
  background-color: #c0c0c0; /* cinza clássico */

  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "pixelada", monospace;
  font-size: 20px;
  text-transform: uppercase;

  /* 🔥 remove estilo moderno */
  border-radius: 0;
  transition: none;

  /* 🪟 borda 3D estilo Windows 95 */
  border: 2px solid;
  border-color: #ffffff #404040 #404040 #ffffff;

  box-shadow:
    inset -1px -1px 0 #000,
    inset 1px 1px 0 #fff;

  cursor: pointer;

  justify-self: start;
  align-self: start;
}

.botao-agendamento.ativo {
  color: #000;
}

/* 👇 efeito pressionado REAL */
.botao-agendamento:active {
  border-color: #404040 #ffffff #ffffff #404040;

  box-shadow:
    inset 1px 1px 0 #000,
    inset -1px -1px 0 #fff;

  transform: translateY(1px);
}

#agenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 60px;
}

#agenda > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#agenda-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: wrap;
  text-align: start;
}

#agenda-txt-container h2 {
  /* font-size: 48px; */
  /* font-size: 24px; */
  font-size: 32px;
}

#agenda-txt-container p {
  font-size: 24px;
}

#agenda-botao-container {
  width: 100%;
}

.schedule {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.paginas p {
  text-align: center;
  color: black;
}

/* ------------------------- SECTION SOBRE ----------------------------------- */

#sobre {
  position: relative;
  text-align: center;
  background-color: #ff56be;
}

#vhs-image {
  position: absolute;
  width: 200px;
  height: auto;
  top: 0;
  left: 0;
}

#cd-image {
  position: absolute;
  width: 100px;
  height: auto;
  top: 0;
  right: 0;
}


#sobre-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1400px;
}

#sobre-conteudo-container {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

#sobre-conteudo-container > * {
  flex: 1;
}

#sobre-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: clamp(16px, 2vw, 24px);
}

#sobre-img-01 {
  display: flex;
  align-items: center;
}

#sobre-img-01 img {
  width: 100%;
}

#sobre-img-02 img {
  width: 100%;
}
#y2k-espaço-container {
  text-align: left;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-sizing: border-box;
}

#y2k-espaço-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 40px;
  box-sizing: border-box;
}

#y2k-espaço-galeria div {
  aspect-ratio: 3/4;
  box-sizing: border-box;
  overflow: hidden;
  position: relative; /* importante */
  border-radius: 10px;
}

#y2k-espaço-galeria div img {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 110%;
  height: 110%;
  object-fit: cover;

  border-radius: 10px;
  display: block;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.4s ease;
}

#y2k-espaço-galeria div:hover img {
  transform: translate(-50%, -50%) scale(0.9);
}

/* ------------------------- SECTION CONTATO ----------------------------------- */

#contato {
  position: relative;
  display: flex;
  min-height: 70dvh;
  padding-bottom: 0;
  background-color: #000;
  color: #f0f8ff;
  overflow: hidden;
}

#contato h2 {
  color: red;
}

/* GRID Y2K BACKGROUND */
/* #contato::before, */
#contato::after {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  height: clamp(
    100px,
    calc(100px + (170 - 100) * ((100vw - 1366px) / (1920 - 1366))),
    170px
  );
  background-image:
    linear-gradient(0deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 20px 20px;
  z-index: 0;
  pointer-events: none;
}

#contato::before {
  top: 0;
}

#contato::after {
  bottom: 0;
}

/* CONTAINER PRINCIPAL */
#contato-container {
  position: relative;
  z-index: 1;
  max-width: 1400px;
  display: flex;
  width: 100%;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.45);
}

/* GRID (INFO + MAPA) */
#contato-conteudo-container {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: clamp(10px, 3vw, 30px);
  align-items: center;
}

/* ---------------- MAPA (MONITOR RESPONSIVO) ---------------- */

#mapa-container {
  position: relative;
  width: clamp(220px, 40vw, 600px);
  margin: 0 auto;
}

/* IMAGEM DO MONITOR */
#mapa-container img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 2;
}

#monitor-map {
  pointer-events: none;
}

/* ÁREA DA TELA DO MONITOR */
#mapa-tela {
  position: absolute;
  top: 8%;
  left: 9.5%;
  width: 82%;
  height: 66%;
  overflow: hidden;
  border-radius: 6px;
 
  z-index: 1; /* base */
}

/* iframe = FUNDO */
#mapa-tela iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;

  position: relative;
  z-index: 1;
}

/* vidro = MEIO */
#mapa-tela::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    90deg,
    rgba(70, 69, 68, 0.35),
    rgba(150, 7, 150, 0.35)
  );

  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(4px);

  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.15);

  pointer-events: none;

  z-index: 2; /* 🔥 agora fica ENTRE iframe e monitor */
}

/* monitor = TOPO */
#mapa-container img {
  position: relative;
  z-index: 3;
}

/* ---------------- INFORMAÇÕES ---------------- */

#informacoes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  text-align: start;
}

#informacoes-container h1 {
  color: #d1007f;
}

#informacoes-container p,
#informacoes-container a {
  color: #f0f8ff;
}

/* GRID TEXTO */
#informacoes-txt-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

#informacoes-txt-container > * {
  flex: 1;
  min-height: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BLOCO ESQUERDA */
#texto-informacoes-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

#texto-informacoes-container > div {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ITENS CONTATO */
.contato-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contato-item > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contato-icon {
  width: 26px;
  height: 26px;
  object-fit: contain;
  filter: invert(1);
}

/* TEXTOS RESPONSIVOS */
#texto-informacoes-container h1,
#texto-horarios-container h1 {
  font-size: clamp(16px, 2vw, 24px);
}

#texto-horarios-container p {
  font-size: clamp(12px, 1.5vw, 16px);
}

#texto-informacoes-container p {
  font-size: clamp(12px, 1.5vw, 16px);
}

/* HORÁRIOS */
#texto-horarios-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#texto-horarios-container > div {
  width: 90%;
  display: flex;
  flex-direction: column;
}

/* REDES SOCIAIS */
#redes-sociais-container {
  width: 100%;
  display: flex;
  gap: 12px;
}

#redes-sociais-container a {
  width: clamp(25px, 2vw, 44px);
  height: clamp(25px, 2vw, 44px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#redes-sociais-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ---------------- RESPONSIVO ---------------- */

/* ================= TABLET ================= */
@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  section {
    padding: 40px 40px;
  }

  header {
    justify-content: start;
  }

  /* NAV */

  nav ul {
    gap: 20px;
  }

  nav a {
    font-size: 20px;
  }

  #redes-sociais-header {
    right: 10px;
  }

  /* HOME */
  #titulo-home {
    width: 70%;
  }

  #subtitulo-home {
    font-size: 24px;
    text-align: center;
  }

  /* SERVIÇOS */
  #janelas-serviços {
    grid-template-columns: 1fr 1fr;
    padding: 0 40px;
  }

  /* ================= MODAL ================= */

  .modal {
    width: 90vw;
    height: auto;
    max-height: 90vh;
  }

  .imagens-modal {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b";

    gap: 20px;
    justify-items: center;
  }

  #img01 {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  #img02 {
    width: clamp(220px, 50vw, 350px);
    height: auto;
    pointer-events: none;
    position: static; /* remove bug de sobreposição */
  }

  #phone-screen,
  #pixelated-layer {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: auto;

    top: 0;
    left: 0;
    transform: none;
  }

  /* GALERIA */

#camera-layer {
  width: 30%;
  height: auto;
  z-index: 9;
}


  .galeria-fotos {
    width: 40%;
    margin-left: 0;
  }

#galeria .conteudo {
  flex-direction: column;
}

.galeria-fotos {
  width: 70%;
}


  /* AGENDAMENTO */

#agenda {
   padding-top: 0;
}

  #agendamento-conteudo {
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
  }

  #agenda > * {
    flex-direction: column;
  }

  #agenda-botao-container {
   
    flex-direction: row;
  }

  /* SOBRE */

 #sobre {
    padding-bottom: 100px;
  }


  #sobre-conteudo-container {
    flex-direction: column;
    gap: 32px;
  }

  #y2k-espaço-galeria {
    grid-template-columns: repeat(2, 1fr);
  }

    #vhs-image {
  position: absolute;
  width: 150px;
  height: auto;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}


  /* CONTATO */
  #contato-conteudo-container {
    grid-template-columns: 1fr;
  }

  #mapa-container {
    width: 80%;
  }
}

/* ================= MOBILE ================= */
@media (max-width: 600px) {
  
  body {
    overflow-x: hidden;
  }
  
  section {
    padding: 24px 16px;
  }

  /* HEADER */
  header {
    justify-content: start;
  }

  #img-menu-container {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  #img-menu-container img {
    height: 40px;
    width: auto;
  }

  #redes-sociais-header {
    right: 10px;
  }

  /* NAV */
  nav ul {
    flex-direction: column;
    gap: 8px;
  }

  nav a {
    font-size: 18px;
  }

  /* HOME */
  #titulo-home {
    width: 90%;
  }

  #subtitulo-home {
    font-size: 18px;
  }

  /* SERVIÇOS */
  #janelas-serviços {
    grid-template-columns: 1fr;
    padding: 0;
  }

  /* ================= MODAL ================= */

  .modal {
    width: 95vw;
    height: auto;
    max-height: 95vh;
  
  }


  #janela-modal {
    width: 100%;
    height: 100%;
  }

 #conteudo-modal {
  display: flex;
  justify-content: center;
  max-height: 100%;
 }

  .imagens-modal {
    display: none;
  }


  #title-barra-modal {
     font-size: clamp(24px, 3vw, 32px);
    
  }

  #phone-screen {
    max-width: 90%;
    width: 90%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    height: 90%;
  }

  #phone-screen * {
   font-size: clamp(16px, 4vw, 24px);
  }

  #phone-screen .servicos-container > * {
    max-width: 100%;
    width: 100%;
   
    
}

  /* GALERIA */
  .galeria-fotos {
    width: 80%;
  }

  /* AGENDAMENTO */
  #agendamento-conteudo {
    padding: 16px;
    border-radius: 20px;
    gap: 0px;
  }

  #moldura {
    /* min-width: 32px; */
  }

  #moldura img {
    min-width: 32px;
  }


  #agenda {
    padding: 0;
  }

  .botao-agendamento {
    width: 100%;
  }

  /* SOBRE */

  #sobre {
    padding-bottom: 100px;
  }

  #y2k-espaço-galeria {
    grid-template-columns: 1fr;
  }


#cd-image {
  display: none;
}

  /* CONTATO */
  #mapa-container {
    width: 100%;
  }

  #informacoes-txt-container {
    flex-direction: column;
  }


  #informacoes-txt-container > * {
  align-items: start;
}
}
