@font-face {
  font-family: "motorola";
  src: url("fonts/MotorolaScreentype.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "minecraft";
  src: url("fonts/Minecraftia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pixelada";
  src: url("fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "pixelada";
}

body {
  /* overflow-x: hidden; */
}


.header{
  position: fixed;
  z-index: 99999;
  width: 100%;
  
}

/* MENU y2k */
nav {
  color: white;
  padding: 0;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  border-bottom: ridge 2px grey;
  backdrop-filter: blur(100%);
  position: relative;
  /* Necessário para posicionar o pseudo-elemento */
  z-index: 0;
  /* Certifica-se de que o conteúdo esteja acima */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav li {
  margin: 25px 0;
}

nav a {
  font-weight: bold;
  color: #e0e0e0;
  z-index: 1;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
  opacity: 1;
  background: linear-gradient(90deg,
      #707070,
      #a0a0a0,
      #707070);
  /* Gradiente para o efeito metálico */
  -webkit-background-clip: text;
  /* Aplica o gradiente apenas ao texto */
  color: transparent;
  /* Torna o texto transparente para mostrar o gradiente */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4),
    /* Brilho suave para destacar o texto */
    -1px -1px 2px rgba(0, 0, 0, 0.5),
    /* Sombras escuras para dar contraste e profundidade */
    0 0 8px rgba(255, 255, 255, 0.6),
    /* Brilho mais forte para simular o efeito metálico */
    0 0 10px rgba(255, 255, 255, 0.4);
  /* Brilho mais suave ao redor para destacar ainda mais */
}

nav a:hover {
  color: #db1dc2;
  background-color: grey;
}

.menu-y2k::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(./imgs/metal.jpg); */
  background: linear-gradient(270deg,
      #e6e9bf,
      #d2b5aa,
      #cbaea3,
      #d4b5ab,
      #d2b5aa,
      #cbaea3,
      #d4b5ab);
  background-size: cover;
  filter: brightness(1) opacity(1);
  /* Reduz o brilho */
  z-index: -1;
  /* Coloca atrás do conteúdo */
  backdrop-filter: blur(20px);
  background-size: 100% 100%;
  animation: brilho-titanio 8s infinite linear;
}

/* SEÇÕES */
main {}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #6600cc;
}

/* PRIMEIRA SEÇÃO (efeito parallax) */
#home {
  background: linear-gradient(90deg,
      rgba(70, 69, 68, 0.7),
      rgba(150, 7, 150, 0.7)),
    url("./imgs/salão.jpg");
  background-attachment: fixed;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;

  top: 0;

  z-index: -2;
}

/* Animação texto do titulo do salão*/
#titulo-home {
  opacity: 0;
  animation: fadein-titulo 2s ease-in forwards;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

@keyframes fadein-titulo {
  to {
    opacity: 1;
  }
}

#subtitulo-home {
  opacity: 0;
  font-family: "Pixelify Sans";
  font-size: 30px;
}

/* --------------------------------- SECTION SERVIÇOS ----------------------------------- */
#servicos {
  background: #ff77ff;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;

}

#servicos>* {}

#servicos h1 {

  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;

}



/*janelas dos serviços*/

#janelas-serviços {
  display: grid;
  grid-template-columns: repeat(2, 25vw);
  margin-top: 30px;
  list-style: none;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 1vw;
  padding-right: 1vw;
  gap: 2vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

#janelas-serviços * {}

#janelas-serviços li {
  position: relative;
  box-sizing: border-box;
  border: outset 1px;
  overflow: hidden;
  background-color: rgb(196, 187, 191);
  transition: transform 0.3s ease;
  cursor: pointer;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

#janelas-serviços li:hover {
  transform: scale(1.05);
}

#janelas-serviços li>img {
  position: relative;
  width: 100%;
  display: block;
  margin-top: -2px;
  z-index: 1;

}

.title-bar {
  position: absolute;
  height: 20px;
  width: 100%;
  background-color: rgb(255, 0, 255);
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  z-index: 2;
  align-self: start;
}

.title-bar p {
  justify-self: start;
  font-family: "Pixelify Sans";
  font-weight: bold;
  margin-left: 20px;
}

.title-bar img {
  justify-content: end;
  height: 20px;
  width: auto;
  user-select: none;
  pointer-events: none;
}

/* ---------------------------------------- JANELAS MODAL ----------------------------------------*/

#overlay {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.97);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 99999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  background: #ffb9dc;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.4s ease;
  z-index: 99999999999;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title-bar-modal {
  background: #ff69b4;
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  height: 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: auto;
  box-sizing: border-box;
  padding: 0;
}

.buttons img {
  object-fit: contain;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.modal.expandir {
  width: 80%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: none;
  pointer-events: all;
  transition: all 0.4s ease;
  opacity: 1;
  overflow: hidden;

  transform: translate(-50%, -50%);
}

.conteudo {
  height: 100%;
}

.imagens-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "a b"
    "c b";
}

.imagens-modal>img {}

.imagens-modal img {
  width: auto;
}

.imagens-modal img:nth-child(1) {
  aspect-ratio: 3/2;
  width: 100%;
  position: relative;
  top: 6vh;
  margin-left: 1%;
}

/* ////////////////////////////////////// Moldura do celular estilo fliper /////////////////////////////////////////////////////////*/
.imagens-modal img:nth-child(2) {
  aspect-ratio: 1/1;
  width: 30vw;
  height: 670px;
  position: relative;
  top: -6vh;
  left: 6vh;
  user-select: none;
}

/* ///////////////////////////////////////  Tela do celular com serviços ///////////////////////////////////////////////////// */

#phone-screen {
  height: 71vh;
  width: 24.5vw;
  background-color: #ead4c4;
  position: absolute;
  top: 16vh;
  left: 98vh;
  border-radius: 5%;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
}

#pixelated-layer {
  height: 71vh;
  width: 24.5vw;
  background-color: #ead4c4;
  position: absolute;
  top: 16vh;
  left: 98vh;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  opacity: 0.223;
  pointer-events: none;
}

#phone-screen * {
  font-family: "motorola", monospace;
  font-size: 20px;
}

.barra-titulo {
  width: 100%;
  height: 10vh;
  border-radius: 5%;
  background: linear-gradient(to right,
      #000033,
      #0044aa,
      #0066cc,
      #0044aa,
      #000033);
  color: #00f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra-titulo * {
  font-family: "motorola", monospace;
}

#phone-screen .servicos-container {
  display: grid;
  align-items: center;
  justify-content: start;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.div-cor01 {
  background-color: #d9dddc;
  display: flex;
  width: 24.5vw;
  height: 70.1312px;
  justify-content: space-between;
  align-items: center;
}

.div-cor02 {
  display: flex;
  width: 24.5vw;
  height: 70.1312px;
  background-color: #88807b;
  align-items: center;
  justify-content: space-between;
}

.div-cor01 p {
  font-size: 30px !important;
  /* height: 70.1312px; */
}

.div-cor02 p {
  font-size: 30px !important;
  /* height: 70.1312px; */
}

.div-cor01 :nth-child(1),
.div-cor02 :nth-child(1) {
  margin-left: 1vw;
}

.div-cor01 :nth-child(2),
.div-cor02 :nth-child(2) {
  margin-right: 1vw;
}

.servicos-container::-webkit-scrollbar {
  width: 8px;
  z-index: 999999999;
}

.servicos-container::-webkit-scrollbar-track {
  background: white;
}

.servicos-container::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 0;
}

.servicos-container {
  scrollbar-width: thin;
  scrollbar-color: blue white;
}

.corte {
  box-sizing: border-box;
  width: 24vw;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  color: #2546ab;
  font-family: "motorola", monospace;
}

.corte :first-child {
  margin-left: 5%;
}

.corte :nth-child(2) {
  margin-right: 6%;
}

.phone-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #00f0ff;
  width: 100%;
  border-radius: 0 0 5% 5%;
  background: linear-gradient(to right,
      #000033,
      #0044aa,
      #0066cc,
      #0044aa,
      #000033);
  height: 10vh;
  align-items: center;
}

.phone-buttons * {}

.phone-buttons :first-child {
  margin-left: 3vw;
  z-index: 99999;
}

.phone-buttons :nth-child(2) {
  color: white;
  text-align: center;
  margin-top: -2vh;
}

.phone-buttons :nth-child(3) {
  margin-right: 3vw;
  z-index: 99999;
}

.button {
  cursor: pointer;
  user-select: none;
}

.imagens-modal h2:nth-child(3) {
  font-size: 40px;
  font-family: "Pixelify Sans";
  position: relative;
  top: -30vh;
  text-align: center;
}






#agendamento {
  background-color: rgb(255, 0, 200);
}






/* --------------------- SECTION GALERIA ------------------------ */

#galeria {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(219, 77, 188);

}


#galeria h1 {

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
}




.galeria-fotos {
  --d: 10s;
  display: grid;
  margin-left: 10vw;
  width: 25vw;
  align-self: center;
  justify-self: center;

}


.galeria-fotos>img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);

}

.galeria-fotos img:last-child {
  animation-name: slide, z-order-last;
}

.galeria-fotos>img:nth-child(1) {
  animation-delay: calc(0*var(--d));
  --r: 0deg;
}

.galeria-fotos>img:nth-child(2) {
  animation-delay: calc(-0.2*var(--d));
  --r: 5deg;
}


.galeria-fotos>img:nth-child(3) {
  animation-delay: calc(-0.4*var(--d));
  --r: -1deg;
}

.galeria-fotos>img:nth-child(4) {
  animation-delay: calc(-0.6*var(--d));
  --r: 6deg;
}

.galeria-fotos>img:nth-child(5) {
  animation-delay: calc(-0.02*var(--d));
  --r: -18deg;
}

@keyframes slide {
  10% {
    transform: translateX(120%) rotate(var(--r));
  }

  0%,
  100%,
  20% {
    transform: translatex(0%) rotate(var(--r));
  }
}

@keyframes z-order {

  10%,
  20% {
    z-index: 1;
  }

  80% {
    z-index: 2;
  }
}

@keyframes z-order-last {

  10%,
  20% {
    z-index: 1;
  }

  90% {
    z-index: 2;
  }
}



/* ------------------------- SECTION SOBRE ----------------------------------- */

#sobre {
  display: grid;
  justify-content: start;
  align-items: start;
  grid-template-columns: repeat(4, 10%);
  grid-template-rows: 10px 10px 10px 10px;
   background-color: rgb(212, 50, 118);
}

#sobre > * {

  border: solid 2px red;
}

#sobre p {
  
}







/* ------------------------- SECTION CONTATO ----------------------------------- */




#contato {
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 7vh;
  grid-template-areas:
    "iframe info "
    "footer footer";
  max-height: 90vh;
  gap: 2vw;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 30px 30px;

}


#contato>* {}

/* ------------------------ MAPA ----------------------------------- */
.iframe-container {
  position: relative;
  height: auto;
  width: auto;
  margin-left: 2vw;
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe-container img {
  position: absolute;
  z-index: 1;
  height: 88vh;
  width: auto;
}
.overlay-iframe {
  position: absolute;
  z-index: 3;
  height: 48vh;
  width: 30vw;
  margin-top: -22vh;
  border-radius: 2px;
  background: linear-gradient(to bottom right,
      rgba(70, 69, 68, 0.1),
      rgba(150, 7, 150, 0.7));
  pointer-events: all;
}

.overlay-iframe a {
  position: absolute;
  width: 85%;
  height: 90%;
  z-index: 10;
}

iframe {
  position: absolute;
  box-sizing: border-box;
  align-self: center;
  justify-self: center;
  grid-area: iframe;
   height: 48vh;
  width: 30vw;
  margin-top: -21.5vh;
  border-radius: 2px;
  z-index: 2;
  pointer-events: none;
}



.container-info-contato {
  display: flex;
  flex-direction: column;
  grid-area: info;
  padding-right: 2vw;
  justify-self: center;
  align-self: center;


}

.container-info-contato>* {

  padding: 1rem;
  margin-bottom: 1rem;

}

.container-info-contato p {
  margin-top: 5%;
}

/* ---------------------------- RODAPÉ ------------------------------------------- */

footer {
  display: flex;
  flex-direction: row;
  grid-area: footer;
  background-color: #141a18;
  align-items: center;
  justify-content: space-between;
  padding-left: 2vw;

}

.redes-sociais img {
  height: 4vh;
  width: auto;
  margin-left: 3px;
}